.error {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: white;
  text-align: center;

  &__image {
    width: 300px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #38bdf8;
  }

  &__desc {
    font-size: 18px;
    opacity: 0.8;
  }
   &__button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #38bdf8;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
  }

  &__button:hover {
    background-color: #0ea5e9;
  }
}
