.error {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: white;
  text-align: center;

  &__image {
    width: 300px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #38bdf8;
  }

  &__desc {
    font-size: 18px;
    opacity: 0.8;
  }
}